body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App .column {
  margin-top: 0!important;
}

.selector-toggle {
  float: right;
}

.mainMenu {
  padding: 0!important;
  margin: 0!important;
}

.wave-form-chart-container {
  height: 276px;
  overflow: hidden;
}
.wave-form-chart {
  position: relative;
}
.wave-form-chart .slider {
  position: absolute;
  bottom: 35px;
  left: 4px;
  height: 260px;
  width: 1px;
  background: #d7d9db;
}

.list-media-files {
  padding-left: 10px!important;
}
.list-media-files button {
  float: right;
}

.mainMenu {
  border-radius: 0!important;
}

.toolBelt.menu {
  margin: 0!important;
  padding: 0!important;
}

.uploadFile {
  margin-left: 10px;
}

.grid .row {
  padding: 0!important;
}
.grid .column {
  padding-top: 10px!important;
}

.mediaNameHeader {
  cursor: pointer;
}