body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App .column {
  margin-top: 0!important;
}

.selector-toggle {
  float: right;
}

.mainMenu {
  padding: 0!important;
  margin: 0!important;
}
.mainPanel {
  display: flex;
}
.mediaList {
  padding: 10px 5px 0 0;
  border-right: 1px solid rgba(34,36,38,.15);
}
.mediaList.collapsed {
  width: 45px;
  border-right: none;
}
.MediaFileView {
  width: 100%;
  padding: 10px;
}
.list-media-files {
  padding-left: 10px!important;
  width: 260px;
}
.list-media-files .button {
  float: right;
  display: none!important;
}
.list-media-files .item {
  height: 33px;
}
.list-media-files .item:hover .button {
  display: block!important;
}
.mediaListToggle {
  float: right;
}
video {
  width: auto;
  height: auto;
  max-width: 100%;
}

.wave-form-chart-container {
  height: 276px;
  overflow: hidden;
}
.wave-form-chart {
  position: relative;
}
.wave-form-chart .slider {
  position: absolute;
  bottom: 35px;
  left: 4px;
  height: 260px;
  width: 1px;
  background: #d7d9db;
}
.mainMenu {
  border-radius: 0!important;
}

.toolBelt.menu {
  margin: 0!important;
  padding: 0!important;
}

.uploadFile {
  margin-left: 10px;
}

.mediaNameHeader {
  cursor: pointer;
}

.video-editor-controls {
  display: flex;
  margin: 5px 0 5px 0;
}